<div class="modal-header">
    <div class="col-md-12">
        <h3 class="modal-title text-center">SELECIONE {{ctrl.title}}</h3>
    </div>
</div>
<div class="modal-body" style="height: 430px;">
    <ag-grid grid-options="ctrl.gridOptions" cell-clicked="ctrl.cellClicked(event)" style="height: 415px;" flex></ag-grid>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.aplicar()" style="width: 100px;">Aplicar</button>
    <button class="btn btn-danger" type="button" ng-click="ctrl.sair()" style="width: 100px;">Sair</button>
</div>