<div class="modal-header">
    <div class="col-md-12">
        <h3 class="modal-title text-center" style="text-transform: uppercase">Envie uma mensagem para o proprietário</h3>
    </div>
</div>
<div class="modal-body">
    <div layout="row" layout-align="space-between center">
        <div class="panel panel-default" style="width: 400px; height: 340px;">
            <div class="panel-heading">
                <h3 class="modal-title text-center" ng-bind="ctrl.descricao"></h3>
            </div>
            <div class="panel-body" layout="row"  layout-align="center center">
                <img class="img-thumbnail" style="height: 269px;" ng-src="{{'data:' + ctrl.pet.image.filetype + ';base64,' + ctrl.pet.image.base64}}"
                    alt="Imagem do animal" />
            </div>
        </div>
        <text-angular style="width: 460px" ng-model="ctrl.htmlVariable" ta-toolbar="ctrl.toolbar" ta-translations="ctrl.taTranslations">
        </text-angular>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.aplicar()" style="width: 100px;">Enviar</button>
    <button class="btn btn-danger" type="button" ng-click="ctrl.sair()" style="width: 100px;">Cancelar</button>
</div>