<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-3" style="margin-top: 60px">
                <h1>Pagina não encontrada <span>:(</span></h1>
                <p>Desculpe, mas a página que você estava tentando exibir não existe.</p>
                <p>Possível causa:</p>
                <ul>
                    <li>Um endereço digitado incorretamente</li>
                    <li>Um link desatualizado</li>
                </ul>
            </div>
        </div>
    </div>
</div>