<div layout="row" flex>
    <div ng-show="ctrl.facePanel == 1" layout="column" layout-align="space-between stretch" flex>
        <section class="nav-grid" layout="row" layout="column" layout-wrap>

            <md-button class="md-icon-button" ng-click="ctrl.setFacePanel(0)" tooltip-placement="right-bottom" uib-tooltip="Modo Grade">
                <i class="fa fa-th" aria-label="Modo Grade"></i>
            </md-button>

            <md-button class="md-icon-button" ng-click="ctrl.add()" tooltip-placement="bottom" uib-tooltip="Adicionar">
                    <i class="fa fa-plus" aria-label="Modo formulário"></i>
            </md-button>

            <md-button class="md-icon-button" form="form" tooltip-placement="right-bottom" uib-tooltip="Limpar" type="reset">
                <i class="fa fa-eraser" aria-label="Limpar"></i>
            </md-button>

            <md-button class="md-icon-button" form="form" type="submit" tooltip-placement="right-bottom" uib-tooltip="Salvar">
                <i class="fa fa-floppy-o" aria-label="Salvar"></i>
            </md-button>

        </section>

        <div class="panel panel-default" flex>
            <div class="panel-body">
                <form id="form" name="form" ng-submit="ctrl.enviar(true)" novalidate>
                    <input type="text" ng-model="ctrl.agenda.pet.id" ng-hide="true">
                    <div class="col-xs-12 col-md-5">
                        <div layout="row" layout-align="center center">
                            <img class="img-responsive img-thumbnail" style="height: 450px;" ng-src="{{'data:' + ctrl.agenda.pet.image.filetype + ';base64,' + ctrl.agenda.pet.image.base64}}"
                                alt="Imagem do animal">
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{ 'has-error': ctrl.isPetInvalido}">
                                    <label for="nomePet" class="control-label">Animal
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" name="nomePet" ng-keydown="ctrl.eventKeyPet($event)" ng-model="ctrl.agenda.pet.name" class="form-control input-md"
                                            placeholder="Selecione o pet" required />
                                        <span class="input-group-addon" name="searchuser" ng-click="ctrl.openPopup('pet',ctrl.agenda.pet.name)">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                    <div class="help-block" ng-if="ctrl.isPetInvalido">
                                        <span>Pesquise por uma animal</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="text" ng-model="ctrl.agenda.service.id" ng-hide="true">
                                <div class="form-group" ng-class="{ 'has-error': ctrl.isServiInvalido}">
                                    <label for="servico" class="control-label">Serviço
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" ng-keydown="ctrl.eventKeyService($event)" name="servico" ng-model="ctrl.agenda.service.name" class="form-control input-md"
                                            placeholder="Selecione o serviço" required />
                                        <span class="input-group-addon" name="searchuser" ng-click="ctrl.openPopup('service',ctrl.agenda.service.name,ctrl.agenda.pet.size)">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                    <div class="help-block" ng-if="ctrl.isServiInvalido">
                                        <span>Pesquise por um serviço</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error': ctrl.isSchedulingDate}">
                                    <label for="dateBirth" for="schedulingDate" class="control-label">Data
                                            <span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="ctrl.agenda.schedulingDate" name="schedulingDate" is-open="popup2.opened"
                                            datepicker-options="dateOptions2" close-text="Fechar" current-text="Hoje" clear-text="Limpar"
                                            ng-required="true" ng-change="ctrl.buscarHoras()" uib-datepicker-popup="dd/MM/yyyy"
                                        />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open2()">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="help-block" ng-messages="form.schedulingDate.$error" ng-if="form.schedulingDate.$touched && form.schedulingDate.$invalid">
                                        <span>Data não é válida</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group" ng-class="{ 'has-error': ctrl.isTime}">
                                    <label for="hora" for="time" class="control-label">Hora
                                            <span class="text-danger">*</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <select ng-disabled="ctrl.agenda.schedulingDate == undefined" class="form-control" name="time" ng-model="ctrl.agenda.time"
                                            ng-options="o as o for o in ctrl.horas.options" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="hora" for="observacao" class="control-label">Observações</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                                        </span>
                                        <textarea class="form-control" name="observacao" ng-model="ctrl.agenda.note" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="text" ng-model="ctrl.service.id" ng-hide="true">
                </form>
            </div>
        </div>
    </div>
    <div ng-show="ctrl.facePanel == 0" layout="column" flex>

        <div layout="row" flex>

            <div layout="row" class="side-nav" ng-show="ctrl.showFilter" flex>

                <form name="form" ng-submit="ctrl.buscar()" novalidate>

                    <div layout="row" layout-align="space-between center" flex>
                        <div>
                            <i class="fa fa-chevron-left sair-filtro" ng-click="ctrl.showFilter = !ctrl.showFilter" uib-tooltip="Esconder filtro" tooltip-placement="right"
                                aria-hidden="true"></i>
                        </div>
                        <div>
                            <label style="font-size: 20px">Filtros</label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" flex>Aplicar</button>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label for="inicial" class="control-label">Data Inicial:
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="inicial" name="dataInicial" ng-model="ctrl.inicial" ng-model="ctrl.inicial"
                                is-open="popup3.opened" datepicker-options="dateOptions" close-text="Fechar" current-text="Hoje"
                                clear-text="Limpar" ng-required="true" uib-datepicker-popup="dd/MM/yyyy" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open3()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <div class="help-block" ng-messages="form.dataInicial.$error" ng-if="form.$submitted && form.dataInicial.$touched && form.dataInicial.$invalid">
                            <span>A data inicial é obrigatória</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="final" class="control-label">Data Final:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="ctrl.final" is-open="popup1.opened" datepicker-options="dateOptions2" close-text="Fechar"
                                current-text="Hoje" clear-text="Limpar" ng-required="true" uib-datepicker-popup="dd/MM/yyyy"
                            />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px">
                        <label for="nomePet" class="control-label">Animal</label>
                        <div class="input-group">
                            <input type="text" ng-model="ctrl.agenda.pet.name" class="form-control input-md" placeholder="Selecione o pet" />
                            <span class="input-group-addon" name="searchuser" ng-click="ctrl.openPopup('pet',ctrl.agenda.pet.name)">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px">
                        <label for="service" class="control-label">Serviço</label>
                        <div class="input-group">
                            <input type="text" ng-model="ctrl.agenda.service.name" class="form-control input-md" placeholder="Selecione o Serviço" />
                            <span class="input-group-addon" name="service" ng-click="ctrl.openPopup('service',ctrl.agenda.service.name)">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div layout="column" layout-align="space-between stretch" flex>

                <section class="nav-grid" layout="row" layout="column" layout-wrap>

                    <md-button class="md-icon-button" ng-click="ctrl.edit('form')" tooltip-placement="right-bottom" uib-tooltip="Modo Formulário">
                        <i class="fa fa-table" aria-label="Modo formulário"></i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="ctrl.showFilter = !ctrl.showFilter" tooltip-placement="bottom" uib-tooltip="Mostrar filtro">
                        <i class="fa fa-filter" aria-label="Filtro"></i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="ctrl.add()" tooltip-placement="bottom" uib-tooltip="Adicionar">
                        <i class="fa fa-plus" aria-label="Modo formulário"></i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="ctrl.edit()" tooltip-placement="bottom" uib-tooltip="Editar">
                        <i class="fa fa-pencil" aria-label="Editar"></i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="ctrl.remover()" tooltip-placement="bottom" uib-tooltip="Remover">
                        <i class="fa fa-trash-o" aria-label="Remover"></i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="ctrl.recarregar()" tooltip-placement="bottom" uib-tooltip="Recarregar">
                        <i class="fa fa-refresh" aria-label="Recarregar"></i>
                    </md-button>

                </section>

                <ag-grid grid-options="ctrl.gridOptions" flex>
                </ag-grid>
            </div>
        </div>
    </div>
</div>