<div layout="row" flex>
    <article class="col-md-12 maincontent" ng-if="ctrl.showAddEdit">
        <header class="page-header">
            <h1 class="page-title text-center">Cadastro de animais para doação</h1>
            <button class="btn btn-primary" type="button" ng-click="ctrl.hide()" uib-tooltip="Voltar a lista de Animais">
                <i class="fa fa-reply" aria-hidden="true"></i>
            </button>
        </header>
        <div class="col-md-10 col-md-offset-1 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-10 col-md-offset-1 ">
                        <form name="petForm" ng-submit="ctrl.enviar(petForm.$valid)">
                            <h3 class="thin">Dados do animal</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="name" class="control-label">Nome</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-paw"></i></span>
                                            <input type="text" name="name" class="form-control" ng-model="ctrl.pet.name" placeholder="Informe o nome no animal" ng-maxlength="120">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': (petForm.$submitted || petForm.tipoAnimal.$touched) && petForm.tipoAnimal.$invalid}">
                                        <label for="porte" class="control-label">Tipo<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-outdent"></i></span>
                                            <select class="form-control" ng-change="ctrl.modifyTipoAnimal()" name="tipoAnimal" ng-model="ctrl.pet.tipoAnimal" ng-options="o as o for o in ctrl.tipoAnimais.options"
                                                required></select>
                                        </div>
                                        <div class="help-block" ng-messages="petForm.tipoAnimal.$error" ng-if="petForm.$submitted || petForm.tipoAnimal.$touched">
                                            <div ng-messages-include="src/include/messages.html"></div>
                                        </div>
                                    </div>

                                    <input type="text" ng-model="ctrl.pet.breed.id" ng-hide="true">
                                    <div class="form-group">
                                        <label for="breed" class="control-label">Raça</label>
                                        <div class="input-group">
                                            <input type="text" ng-disabled="ctrl.pet.tipoAnimal == undefined" class="form-control input-md" placeholder="Pesquise a raça do animal" name="breed" ng-model="ctrl.pet.breed.name">
                                            <span class="input-group-addon" name="searchuser" ng-click="ctrl.openPopup('breed',ctrl.pet.breed.name)"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="dateBirth" class="control-label">Data de Nascimento</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="dateBirth" ng-model="ctrl.pet.dateBirth" is-open="popup.opened" datepicker-options="dateOptions"
                                                close-text="Fechar" current-text="Hoje" clear-text="Limpar" ng-required="true"
                                                uib-datepicker-popup="dd/MM/yyyy" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': (petForm.$submitted || petForm.sex.$touched) && petForm.sex.$invalid}">
                                        <p><label for="sex" class="control-label">Sexo<span class="text-danger">*</span></label></p>
                                        <label class="radio-inline" ng-repeat="sex in ctrl.sexs" id="{{sex}}">
                                            <input type="radio" name="sex" ng-model="ctrl.pet.sex" value="{{sex}}" required>{{sex | formatSex}}
                                        </label>
                                        <div class="help-block" ng-messages="petForm.sex.$error" ng-if="petForm.$submitted || petForm.sex.$touched">
                                            <div ng-messages-include="src/include/messages.html"></div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': (petForm.$submitted || petForm.porte.$touched) && petForm.porte.$invalid}">
                                        <label for="porte" class="control-label">Porte<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-outdent"></i></span>
                                            <select class="form-control" name="porte" ng-model="ctrl.pet.size" ng-options="o as o for o in ctrl.sizes.options" required></select>
                                        </div>
                                        <div class="help-block" ng-messages="petForm.porte.$error" ng-if="petForm.$submitted || petForm.porte.$touched">
                                            <div ng-messages-include="src/include/messages.html"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <img class="img-responsive img-circle" ng-src="{{'data:' + ctrl.pet.image.filetype + ';base64,' + ctrl.pet.image.base64}}"
                                        alt="Imagem do animal">

                                    <div class="form-group">
                                        <label for="image" class="control-label">Selecione uma Imagem:</label>
                                        <input type="file" ng-change="ctrl.touched()" ng-model="ctrl.pet.image" parser="ctrl.resizeImage" name="inputFile" base-sixty-four-input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-danger" type="reset">
                                            <i class="fa fa-eraser" aria-hidden="true"></i> Limpar
                                        </button>
                                        <button style="margin-left: 5px" class="btn btn-success" type="submit">
                                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-md-12 maincontent" ng-if="!ctrl.showAddEdit">
        <header class="page-header">
            <h1 class="page-title text-center">Lista de animais para doação</h1>
            <button class="btn btn-primary" type="button" ng-click="ctrl.add()" uib-tooltip="Adicionar um novo animal">
                <i class="fa fa-paw" aria-hidden="true"></i>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </header>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-filter"></i></span>
            <input type="text" class="form-control" placeholder="Filtro de animais" ng-model="criteria">
        </div>
        <div class="table-responsive text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Nome do pet</th>
                        <th>Raça</th>
                        <th ng-click="ctrl.sort('size')">Porte
                            <i ng-class="{'fa fa-sort-asc':ctrl.reverse,'fa fa-sort-desc':!ctrl.reverse}" aria-hidden="true" ng-show="ctrl.sortKey=='size'"></i>
                            <i class="fa fa-sort" aria-hidden="true" ng-show="ctrl.sortKey !='size'"></i>
                        </th>
                        <th ng-click="ctrl.sort('sex')">Sexo
                            <i ng-class="{'fa fa-sort-asc':ctrl.reverse,'fa fa-sort-desc':!ctrl.reverse}" aria-hidden="true" ng-show="ctrl.sortKey=='sex'"></i>
                            <i class="fa fa-sort" aria-hidden="true" ng-show="ctrl.sortKey !='sex'"></i>
                        </th>
                        <th ng-click="ctrl.sort('dateBirth')">Data Nascimento
                            <i ng-class="{'fa fa-sort-asc':ctrl.reverse,'fa fa-sort-desc':!ctrl.reverse}" aria-hidden="true" ng-show="ctrl.sortKey=='dateBirth'"></i>
                            <i class="fa fa-sort" aria-hidden="true" ng-show="ctrl.sortKey !='dateBirth'"></i>
                        </th>
                        <th>Visualizar</th>
                        <th>Editar</th>
                        <th>Apagar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pet in ctrl.pets|orderBy:sortKey:ctrl.reverse|filter:criteria.name as results">
                        <td ng-bind="pet.tipoAnimal"></td>
                        <td ng-bind="pet.name"></td>
                        <td ng-bind="pet.breed.name"></td>
                        <td ng-bind="pet.size"></td>
                        <td>{{pet.sex | formatSex}}</td>
                        <td>{{ctrl.formatDate(pet.dateBirth)}}</td>
                        <td>
                            <button class="btn btn-success" ng-click="ctrl.visualizar(pet)" type="button" uib-tooltip="Visualizar" tooltip-placement="left-top">
                                <span type="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>
                          </button>
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-disabled="{{ctrl.id != pet.user.id}}" type="button" uib-tooltip="Editar" tooltip-placement="left-top"
                                ng-click="ctrl.edit(pet)">
                            <span type="button">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </span>
                          </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" ng-disabled="{{ctrl.id != pet.user.id}}" uib-tooltip="Apagar" tooltip-placement="left-top"
                                ng-click="ctrl.delete(pet)">
                            <span type="button">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </span>
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()" max-size="ctrl.maxSize"
                items-per-page="ctrl.numPerPage" class="pagination-sm" boundary-link-numbers="true" previous-text="Anterior"
                next-text="Próximo" ng-if="ctrl.totalItems > ctrl.numPerPage">
            </ul>
            <h5 class="text-center" ng-if="results.length < 1"> Nenhum Animal encontrado...</h5>
        </div>
    </article>
</div>