<div layout="row" flex>
    
    <div layout="column" ng-show="ctrl.facePanel == 1" layout-align="space-between stretch" flex>
        <section class="nav-grid" layout="row" layout="column" layout-wrap>
            <md-button class="md-icon-button" ng-click="ctrl.setFacePanel(0)" tooltip-placement="right-bottom" uib-tooltip="Modo Grade">
                <i class="fa fa-th" aria-label="Modo Grade"></i>
            </md-button>

            <md-button class="md-icon-button" ng-click="ctrl.add()" tooltip-placement="right-bottom" uib-tooltip="Adicionar">
                <i class="fa fa-plus" aria-label="Modo formulário"></i>
            </md-button>

            <md-button class="md-icon-button" form="form" tooltip-placement="right-bottom" uib-tooltip="Limpar" type="reset">
                <i class="fa fa-eraser" aria-label="Limpar"></i>
            </md-button>

            <md-button class="md-icon-button" form="form" type="submit" tooltip-placement="right-bottom" uib-tooltip="Salvar">
                <i class="fa fa-floppy-o" aria-label="Salvar"></i>
            </md-button>

        </section>


        <div class="panel panel-default" flex>

            <div class="panel-body">
                <form id="form" name="form" ng-submit="ctrl.enviar(form.$valid)" novalidate>
                    <div class="row">
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid && ctrl.enableValid}">
                                <label for="name" class="control-label">Nome
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" name="name" class="form-control" ng-model="ctrl.service.name" ng-minlength="3" placeholder="Informe a descrição do serviço"
                                        ng-maxlength="100" ng-pattern="ctrl.rgxLetras" required>
                                </div>
                                <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched && ctrl.enableValid">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                    <span ng-message="pattern">O campo nome não pode conter números</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': (form.$submitted || form.porte.$touched) && form.porte.$invalid && ctrl.enableValid}">
                                <label for="porte" class="control-label">Porte
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-outdent"></i>
                                    </span>
                                    <select class="form-control" name="porte" ng-model="ctrl.service.size" ng-options="o as o for o in ctrl.sizes.options" required></select>
                                </div>
                                <div class="help-block" ng-messages="form.porte.$error" ng-if="form.$submitted || form.porte.$touched && ctrl.enableValid">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="form-group">
                                <label for="price" class="control-label">Preço</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-money"></i>
                                    </span>
                                    <input type="text" name="price" class="form-control" ng-model="ctrl.service.price" placeholder="Informe o valor do serviço"
                                        ui-money-mask>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Descrição</label>
                                <textarea class="form-control" rows="6" ng-model="ctrl.service.description"></textarea>
                              </div>
                        </div>
                    </div>
                    <input type="text" ng-model="ctrl.service.id" ng-hide="true">
                </form>
            </div>
        </div>
    </div>

    <div ng-show="ctrl.facePanel == 0" layout="column" layout-align="space-between stretch" flex>
        
        <section class="nav-grid" layout="row" layout="column" layout-wrap>
            <md-button class="md-icon-button" ng-click="ctrl.edit()" tooltip-placement="right-bottom" uib-tooltip="Modo Formulário">
                <i class="fa fa-table" aria-label="Modo formulário"></i>
            </md-button>

            <md-button class="md-icon-button" ng-click="ctrl.add()" tooltip-placement="right-bottom" uib-tooltip="Adicionar">
                <i class="fa fa-plus" aria-label="Modo formulário"></i>
            </md-button>

            <md-button class="md-icon-button" ng-click="ctrl.edit()" tooltip-placement="right-bottom" uib-tooltip="Editar">
                <i class="fa fa-pencil" aria-label="Editar"></i>
            </md-button>

            <md-button class="md-icon-button" ng-click="ctrl.remover()" tooltip-placement="right-bottom" uib-tooltip="Remover">
                <i class="fa fa-trash-o" aria-label="Remover"></i>
            </md-button>

            <md-button class="md-icon-button" ng-click="ctrl.recarregar()" tooltip-placement="right-bottom" uib-tooltip="Recarregar">
                <i class="fa fa-refresh" aria-label="Recarregar"></i>
            </md-button>
        </section>

        <ag-grid grid-options="ctrl.gridOptions" flex></ag-grid>
    </div>
</div>