<div layout="row" flex>
    <div layout="column" ng-show="ctrl.facePanel == 1" layout-align="space-between stretch" flex>
        <section class="nav-grid" layout="row" layout="column" layout-wrap>
            <md-button class="md-icon-button" ng-click="ctrl.setFacePanel(0)" tooltip-placement="right-bottom" uib-tooltip="Modo Grade">
                <i class="fa fa-th" aria-label="Modo Grade"></i>
            </md-button>

            <md-button class="md-icon-button" form="form" tooltip-placement="bottom" uib-tooltip="Limpar" type="reset">
                <i class="fa fa-eraser" aria-label="Limpar"></i>
            </md-button>

            <md-button class="md-icon-button" form="form" type="submit" tooltip-placement="bottom" uib-tooltip="Salvar">
                <i class="fa fa-floppy-o" aria-label="Salvar"></i>
            </md-button>

        </section>

        <div class="panel panel-default" flex>

            <div class="panel-body">
                <form id="form" name="form" ng-submit="ctrl.enviar(form.$valid)" novalidate  autocomplete="off">
                    <div class="row">
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid}">
                                <label for="name" class="control-label">Nome
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" name="name" class="form-control" ng-model="ctrl.user.name" ng-minlength="3" placeholder="Informe o nome complemento"
                                        ng-maxlength="100" ng-pattern="ctrl.rgxLetras" required>
                                </div>
                                <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                    <span ng-message="pattern">O campo nome não pode conter números</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.cpf.$touched && form.cpf.$invalid}">
                                <label for="cpf" class="control-label">CPF
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-id-card-o"></i>
                                    </span>
                                    <input class="form-control" placeholder="Insira o CPF" name="cpf" ng-model="ctrl.user.cpf"
                                        required ui-br-cpf-mask>
                                </div>
                                <div class="help-block" ng-messages="form.cpf.$error" ng-if="form.cpf.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                    <span ng-message="cpf">CPF inválido</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.phone.$touched && form.phone.$invalid}">
                                <label for="phone" class="control-label">Telefone
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <input class="form-control" name="phone" type="text" name="field" ng-model="ctrl.user.phone" ui-br-phone-number-mask>
                                </div>
                                <div class="help-block" ng-messages="form.phone.$error" ng-if="form.phone.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                    <span ng-message="brPhoneNumber">Número de telefone inválido</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.email.$touched  && form.email.$invalid}">
                                <label for="inputemail" class="control-label">E-mail
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope-o fa-fw"></i>
                                    </span>
                                    <input autocomplete="nope" class="form-control" type="text" placeholder="email@email.com" ng-model="ctrl.user.email" name="email" ng-pattern="rgxEmail"
                                        required>
                                </div>
                                <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                    <span ng-message="pattern">Insira um e-mail válido</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.password.$touched && form.password.$invalid}">
                                <label for="inputPassword" class="control-label">Senha
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key fa-fw"></i>
                                    </span>
                                    <input autocomplete="new-password" class="form-control" type="password" ng-minlength="6" class="form-control" name="password" placeholder="Digite sua Senha..."
                                        ng-model="ctrl.user.password" required>
                                </div>
                                <div class="help-block" ng-messages="form.password.$error" ng-if="form.password.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12" ng-if="!ctrl.isEditFields">
                            <div class="form-group" ng-class="{ 'has-error': ctrl.permissionInvalid}">
                                <p>
                                <label for="idPermission" class="control-label">Permissões
                                    <span class="text-danger">*</span>
                                </label>
                                </p>
                                <div class="checkbox-inline" ng-repeat="permission in ctrl.permissions">
                                    <input id="{{permission.role}}" type="checkbox" checklist-model="ctrl.user.permissions" checklist-value="permission">
                                    <label for="{{permission.role}}">{{permission.role | formatPermission}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.zipcode.$touched && form.zipcode.$invalid}">
                                <label for="zipcode" class="control-label">CEP
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-map"></i>
                                    </span>
                                    <input type="text" class="form-control" name="zipcode" ng-model="ctrl.user.address.zipcode" via-cep="cep" ng-minlength="9"
                                        ui-br-cep-mask required>
                                </div>
                                <div class="help-block" ng-messages="form.zipcode.$error" ng-if="form.zipcode.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                    <span ng-message="cep">Cep inválido</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.street.$touched && form.street.$invalid}">
                                <label for="street" class="control-label">Logradouro
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" name="street" ng-model="ctrl.user.address.name" via-cep="logradouro" ng-disabled="true"
                                    required>

                                <div class="help-block" ng-messages="form.street.$error" ng-if="form.street.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.number.$touched && form.number.$invalid}">
                                <label for="input-number" class="control-label">Número
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" name="number" id="input-number" ng-model="ctrl.user.number" ng-maxlength="10" ng-minlength="2"
                                    ng-pattern="/^[0-9]{1,}$/" required>

                                <div class="help-block" ng-messages="form.number.$error" ng-if="form.number.$touched">
                                    <span ng-message="pattern">Insira somente números</span>
                                    <div ng-messages-include="src/include/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.neighborhood.$touched && form.neighborhood.$invalid}">
                                <label for="neighborhood" class="control-label">Bairro
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" name="neighborhood" ng-model="ctrl.user.address.neighborhood.name" via-cep="bairro"
                                    ng-disabled="true" required>

                                <div class="help-block" ng-messages="form.neighborhood.$error" ng-if="form.neighborhood.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.city.$touched && form.city.$invalid}">
                                <label for="input-city" class="control-label">Cidade
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" name="city" ng-model="ctrl.user.address.neighborhood.city.name" ng-disabled="true"
                                    via-cep="localidade" required>

                                <div class="help-block" ng-messages="form.city.$error" ng-if="form.city.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error': form.uf.$touched && form.uf.$invalid}">
                                <label for="uf" class="control-label">Estado
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" name="uf" ng-model="ctrl.user.address.neighborhood.city.uf.sigla" ng-disabled="true"
                                    via-cep="uf" required>

                                <div class="help-block" ng-messages="form.uf.$error" ng-if="form.uf.$touched">
                                    <div ng-messages-include="src/include/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="input-complement">Complemento</label>
                                <textarea class="form-control" rows="6" id="input-complement" ng-model="ctrl.user.complement"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="text" ng-model="ctrl.user.id" ng-hide="true">
                    <input type="text" ng-model="ctrl.user.address.id" ng-hide="true">
                    <input type="text" ng-model="ctrl.user.address.neighborhood.id" ng-hide="true">
                    <input type="text" ng-model="ctrl.user.address.neighborhood.city.id" ng-hide="true">
                    <input type="text" ng-model="ctrl.user.address.neighborhood.city.uf.id" ng-hide="true">
                </form>
            </div>
        </div>
    </div>

    <div ng-show="ctrl.facePanel == 0" layout="column" layout-align="space-between stretch" flex>
        <section class="nav-grid" layout="row" layout="column" layout-wrap>
            <md-button class="md-icon-button" ng-click="ctrl.edit('form')" tooltip-placement="right-bottom" uib-tooltip="Modo Formulário">
                <i class="fa fa-table" aria-label="Modo formulário"></i>
            </md-button>
            <md-button class="md-icon-button" ng-click="ctrl.add()" tooltip-placement="bottom" uib-tooltip="Adicionar">
                <i class="fa fa-plus" aria-label="Modo formulário"></i>
            </md-button>
            <md-button class="md-icon-button" ng-click="ctrl.edit()" tooltip-placement="bottom" uib-tooltip="Editar">
                <i class="fa fa-pencil" aria-label="Editar"></i>
            </md-button>
            <md-button class="md-icon-button" ng-click="ctrl.remover()" tooltip-placement="bottom" uib-tooltip="Remover">
                <i class="fa fa-trash-o" aria-label="Remover"></i>
            </md-button>
            <md-button class="md-icon-button" ng-click="ctrl.recarregar()" tooltip-placement="bottom" uib-tooltip="Recarregar">
                <i class="fa fa-refresh" aria-label="Recarregar"></i>
            </md-button>
        </section>

        <ag-grid grid-options="ctrl.gridOptions" flex>
        </ag-grid>
    </div>
</div>